/* animations.css */

/* Blinking caret */
@keyframes blink-caret {
    0%, 100% {
        border-color: transparent;
    }
    50% {
        border-color: white;
    }
}

/* Fade out text */
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Fade in text */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Apply animations to the animated-text class */
.animated-text {
    border-right: 2px solid white;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: blink-caret 0.75s step-end infinite;
}

/* Animation classes for fading out and in */
.fade-out {
    animation: fadeOut 1s forwards;
}

.fade-in {
    animation: fadeIn 1s forwards;
}
